@font-face {
  font-family: "lights";
  src: url(/font/HELVETICANEUELTGEO-45LIGHTS.TTF);
}

@font-face {
  font-family: "roman";
  src: url(/font/HELVETICANEUELTGEO-55ROMAN.TTF);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  background-color: #0a22f4;
  height: 185px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0px 0px 20px 20px;
}

.container {
  max-width: 1200px;
  width: 100%;
  padding: 0px 20px;
  margin-top: -40px;
}

h1 {
  font-size: 18px;
  font-family: "roman";
  color: #171717;
  margin-top: 16px;
  margin-bottom: 40px;
}

p {
  font-size: 14px;
  font-family: "lights";
  margin-top: 40px;
}

.button1 {
  width: 334px;
  height: 56px;
  background-color: #0a22f4;
  color: #ffffff;
  border-radius: 28px;
  margin-top: 12px;
  margin-bottom: 40px;
  font-size: 13px;
  font-family: roman;
}

.contact {
  max-width: 1200px;
  background-color: #0a22f4;
  display: flex;
  flex-direction: column;
  color: #ffffff;
  gap: 40px;
  padding: 20px;
}

h2 {
    font-size: 18px;
    font-family: "roman";
}

label {
    font-size: 13px;
    font-family: "roman";
}

input[type=text], input[type=email], input[type=tel] {
    border: none;
    border-bottom: 1px solid #ffffff;
    background-color: #0a22f4;
    font-family: "lights";
  }

iframe {
  width: 334px;
  height: 180px;
  border-radius: 15px;
}

.button2 {
  width: 334px;
  height: 56px;
  background-color: #ffffff;
  color: #171717;
  border-radius: 28px;
  font-size: 13px;
  font-family: roman;
}

.tel-email {
    display: flex;
    align-items: center;
    justify-content: center;
    justify-content: space-around;
}

.made {
    display: flex;
    align-items: center;
    justify-content: center;
    justify-content: space-around;
}

.end {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 30px;
}
